extends layout

block content
    .container.my-5
        h1(class="title-font text-center mb-5") About Witcher Universe Wiki
        div(class="row")
            div(class="col-md-9 mb-4 text-center")
                article(class="p-4 h-100 w-100")
                    h2 Our Mission
                    p.lead.mt-2 Fan-made wiki dedicated to the Witcher universe: books by Andrzej Sapkowski, games by CD Projekt RED (The Witcher 1-3, Gwent), Netflix series, and comics.
                    p.lead.my-2 This project is possible thanks to the community, which provides financial support as well as new articles exploring topics that have not yet been studied.
            div(class="col-md-3")
                img(class="item-photo mx-auto d-block", src="./images/logo_light.png")

        div(class="container py-5" id="featured-3")
            h2(class="pb-2 border-bottom") Features
            div(class="row g-4 py-5 row-cols-1 row-cols-lg-3")
                div(class="feature col")
                    h3(class="fs-2") Thorough research
                    p.lead Detailed lore entries on characters, locations, quests. Every information and it's source is double checked.
                div(class="feature col")
                    h3(class="fs-2") Everything you need
                    p.lead From Monster bestiaries with weaknesses to alchemy recipes. Our wiki offers all articles necessary to guide you through the world created by Andrzej Sapkowski.

                div(class="feature col")
                    h3(class="fs-2") Need more?
                    p.lead Timelines from books to games. Everything you need to research this universe as much as you'd like!

        div(class="text-center mt-4")
            p Built with Express.js, Jade/Pug, Bootstrap, and passion for the Continent. Contact: witcherwiki@example.com
