extends layout

block content
    .container
        h1(class="title-font text-center my-5")= title
        p.lead.text-center Welcome to the Witcher Universe Wiki! Discover lore, characters, monsters, and locations from Andrzej Sapkowski's saga and CD Projekt RED's games.
        div(class="article-div mx-auto")
            article.px-5.py-4
                h2 Key Sections
                ul
                    li.my-2.lead Geralt of Rivia – the White Wolf, witcher from Kaer Morhen.
                    li.my-2.lead Ciri – Child of Destiny, heir to ancient elven blood.
                    li.my-2.lead The Wild Hunt – spectral riders from another world.
                    li.my-2.lead Monsters like Leshen, Griffin, and Fiend.
                a(href="/articles" class="btn btn-outline-primary mt-3") Browse Articles
            img(class="item-photo", src="./images/logo_light.png")
    p.text-center.lead.my-4 For more information about this project please visit the #[a(href="/about") about section].

