extends layout

block content

    .container.py-5
        .row.justify-content-center
            .col-md-6.col-lg-4
                .card.shadow(style="background-color: #595260; border: 2px solid #FFD523;")
                    .card-body.p-5
                        h1(class="title-font text-center mb-4") Witcher Wiki Login
                        form(method="POST" action="/login/password")
                            .mb-4
                                label(class="form-label fw-bold" for="username") Username
                                input(type="username" class="form-control" id="username" name="username" placeholder="Your username here" required style="background-color: #2C2E43; border: 1px solid #FFD523; color: #FFD523;")
                                .form-text Enter your witcher username.
                            .mb-4
                                label(class="form-label fw-bold" for="password") Password
                                input(type="password" class="form-control" id="password" name="password" required style="background-color: #2C2E43; border: 1px solid #FFD523; color: #FFD523;")
                            button(type="submit" class="btn btn-primary w-100 mb-3") Sign In
                            .text-center
                                p Don't have an account?
                                    a(href="/register") Register here
