extends layout

block content
    div(class="container-fluid px-0 full-header")
        header(class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 px-3")
            div(class="col-md-3 mb-2 mb-md-0")
                a(href="/home", class="d-inline-flex link-body-emphasis text-decoration-none my-3")
                    img(id="logo" src="https://images.steamusercontent.com/ugc/87095243496079769/37CACC7EA2772907E41A473C7B4DA121BFFA206C/?imw=512&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false")

            ul.nav.col-12.col-md-auto.justify-content-center
                li.nav-item
                    a(href="/", class="nav-link") Home
                li.nav-item
                    a(href="/articles", class="nav-link") Articles
                li.nav-item
                    a(href="/support", class="nav-link") Support Us!
                li.nav-item
                    a(href="/about", class="nav-link") About

            div(class="col-md-3 text-end")
                a(href="/login" class="btn btn-outline-primary me-2") Login
                button(type="button", class="btn btn-primary active") Sign-up

    .container.py-5
        .row.justify-content-center
            .col-md-6.col-lg-5
                .card.shadow(style="background-color: #595260; border: 2px solid #FFD523;")
                    .card-body.p-5
                        h1(class="title-font text-center mb-4") Join Witcher Wiki
                        form(method="POST" action="/register")
                            .row
                                .col-md-6.mb-4
                                    label(class="form-label fw-bold" for="firstName") First Name
                                    input(type="text" class="form-control" id="firstName" name="firstName" placeholder="Geralt" required)
                                .col-md-6.mb-4
                                    label(class="form-label fw-bold" for="lastName") Last Name
                                    input(type="text" class="form-control" id="lastName" name="lastName" placeholder="of Rivia" required )
                            .mb-4
                                label(class="form-label fw-bold" for="email") Email
                                input(type="email" class="form-control" id="email" name="email" placeholder="whitewolf@witcher.com" required)
                            .mb-4
                                label(class="form-label fw-bold" for="password") Password
                                input(type="password" class="form-control" id="password" name="password" minlength="8" required )
                                .form-text Minimum 8 characters.
                            .mb-4
                                label(class="form-label fw-bold" for="confirmPassword") Confirm Password
                                input(type="password" class="form-control" id="confirmPassword" name="confirmPassword" required)
                            button(type="submit" class="btn btn-primary w-100 mb-3") Create Account
                            .text-center
                                p Already have an account?
                                    a(href="/login") Login here
