extends layout

block content
    .container.py-5
        .row.justify-content-center
            .col-md-6.col-lg-5
                .card.shadow(style="background-color: #595260; border: 2px solid #FFD523;")
                    .card-body.p-5
                        h1(class="title-font text-center mb-4") Join Witcher Wiki
                        form(method="POST" action="/signup")
                            .row
                                .col-md-6.mb-4
                                    label(class="form-label fw-bold" for="firstName") First Name
                                    input(type="text" class="form-control" id="firstName" name="firstName" placeholder="Geralt" required)
                                .col-md-6.mb-4
                                    label(class="form-label fw-bold" for="lastName") Last Name
                                    input(type="text" class="form-control" id="lastName" name="lastName" placeholder="of Rivia" required )
                            .mb-4
                                label(class="form-label fw-bold" for="username") Username
                                input(type="text" class="form-control" id="username" name="username" placeholder="WhiteWolf" required)
                            .mb-4
                                label(class="form-label fw-bold" for="password") Password
                                input(type="password" class="form-control" id="password" name="password" minlength="8" required )
                                .form-text Minimum 8 characters.
                            .mb-4
                                label(class="form-label fw-bold" for="confirmPassword") Confirm Password
                                input(type="password" class="form-control" id="confirmPassword" name="confirmPassword" required)
                            button(type="submit" class="btn btn-primary w-100 mb-3") Create Account
                            .text-center
                                p Already have an account?
                                    a(href="/login") Login here
